html,
        body {
            height: 100%;
        }

        .container-fluid {
            @media (min-width: 1626px) {
                padding-right: 0;
                padding-left: 0;
                width: 1534px;
            }
            @media #{ $desktop-large } {
                padding-right: 128px;
                padding-left: 128px;
            }
            @media #{ $desktop } {
                padding-right: 64px;
                padding-left: 64px;
            }
            @media #{ $mobile } {
                padding-right: 16px;
                padding-left: 16px;
            }
        }

        /* Layout */
        .wrapper {
            height: 100%;
            position: relative;
            overflow-x: hidden;
            overflow-y: auto;
            background: #3D505D;
        }

        .wrapper:before,
        .wrapper:after {
            content: " ";
            display: table;
        }

        .wrapper:after {
            clear: both;
        }

        .layout-boxed {
            background-color: #f9fafc;
        }

        /*
 * Content Wrapper - contains the main content
 */
        .content-wrapper,
        .main-footer {
            -webkit-transition: -webkit-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
            -moz-transition: -moz-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
            -o-transition: -o-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
            transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
            margin-left: 112px;
            z-index: 820;
        }

        .layout-top-nav .content-wrapper,
        .layout-top-nav .main-footer {
            margin-left: 0;
        }

        .content-wrapper {
            min-height: 100%;
            background-color: #ffffff;
            position: relative;
            z-index: 800;
        }

        .main-footer {
            background: #fff;
            padding: 15px;
            color: #444;
            border-top: 1px solid #d2d6de;
        }

        /* Content */
        .content {
            background-color: #F2F2F2;
            min-height: 100vh;
            padding: 32px;
            margin-right: auto;
            margin-left: auto;
        }