//Colors
//Brand Colors
$color-brand-purple: #00557E;
$color-prive-green: #60C094;

//Shades Colors
$color-black: #000000;
$color-dark-grey: #404040;
$color-grey: #7F7F7F;
$color-light-grey: #BFBFBF;
$color-light: #F8F9FD;
$color-white: #FFFFFF;

//Secondary Colors
$color-caution-red: #ED212C;
$color-dark-green: #3D505D;
$color-yellow: #FFA921;
$color-background: #F4F5FD;

//Tints (Brand)
$color-brand-purple-75: #40809F;
$color-prive-green-75: #88D0AF;

$color-brand-purple-50: #7FAABE;
$color-prive-green-50: #AFDFC9;

$color-brand-purple-25: #BFD4DF;
$color-prive-green-25: #D7EFE4;

//Tiertiary
$color-stat-pine: #208982;
$color-stat-beach-blue: #98DDFF;
$color-stat-lime: #B5FFCB;
$color-stat-moss: #2EEC9B;
$color-stat-deep-ocean: #1A1752;

//Font Family
$font: 'Proxima Nova';

// Font Sizes
$font-size-hero: 52px;
$font-size-h1: 41px;
$font-size-h2: 32px;
$font-size-h3: 26px;
$font-size-h4: 23px;
$font-size-h5: 20px;
$font-size-h6: 18px;
$font-size-body: 18px;
$font-size-paragraph: 16px;
$font-size-caption: 14px;
$font-size-button-large: 23px;
$font-size-button-medium: 16px;
$font-size-button-small: 12px;