.btn {
    border-radius: 4px;
    box-shadow: 4px 16px 40px 0 rgba(62,50,105,0.25);
    height: 40px;
    line-height: 1.4;
    padding: 8px 32px;
    text-transform: capitalize;
    i {
        font-size: 14px;
        padding: 0 8px;
    }
    &.disabled {
        background-color: $color-light-grey !important;
        color: $color-white !important;
    }
}

.btn-large {
    height: 64px;
    line-height: 64px;
    font-size: 23px;
    padding: 0 32px;
    &.btn-floating {
        height: 64px;
        width: 64px;
        padding: 0px;
    }
    i {
        font-size: 18px !important;
    }
}

.btn-small {
    height: 32px;
    i {
        font-size: 16px;
    }
}

.btn-default {
    background-color: #E95420;
    color: $color-white;
    &:hover, &:focus {
        color: $color-white;
        transform: translateY(-4px) scale(1.1);
        transition: all .5s ease;
    }
}

.btn-secondary {
    background-color: $color-white;
    box-shadow: 4px 16px 40px 0 rgba(62, 50, 105, 0.25);
    border: none;
    color: #e85420;
    &:hover, &:focus {
        background-color: $color-white;
        color: #e85420;
        transform: translateY(-4px) scale(1.1);
        transition: all .5s ease;
    }
    i {
        color: $color-brand-purple;
    }
}

.btn-outline  {
    background-color: transparent;
    border: 1px solid $color-brand-purple;
    color: $color-brand-purple;
    &:hover, &:focus {
        background-color: $color-brand-purple;
        color: $color-white;
        i {
            color: $color-white;
        }
    }
    &.btn-floating {
        background-color: transparent;
        border: 1px solid $color-brand-purple;
        &:hover, &:focus {
            background-color: $color-brand-purple;
            color: $color-white;
            i {
                color: $color-white;
            }
        }
    }
    i {
        color: $color-brand-purple;
    }
}

.btn-flat {
    background-color: transparent;
    color: $color-brand-purple;
    border: none;
    &:hover, &:focus {
        background-color: transparent;
        color: $color-brand-purple-75;
        border: none;
        box-shadow: none;
        i {
            color: $color-brand-purple-75;
        }
    }
    i {
        color: $color-brand-purple;
        &:hover, &:focus {
            color: $color-brand-purple;
        }
    }
}